
<h1>Y'a pas de pépin avec la team Pas'tech</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="https://github.com/MartinL123?tab=repositories">Martin Lanrezac</a></th>
      <td>Son mail est privé. Vous n'avez pas à le connaitre.</td>
      <td>123456789</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://github.com/Estebandelaciudad">Emeran Gainville</a></th>
      <td>Son mail est privé. Vous n'avez pas à le connaitre.</td>
      <td>123456789</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://github.com/itsjayheart">Marion ' j ' Pocquet</a></th>
      <td>Son mail est privé. Vous n'avez pas à le connaitre.</td>
      <td>123456789</td>
    </tr>
    <th scope="row"><a href="https://github.com/RigateStudio">Lucas Gautier</a></th>
      <td>Son mail est privé. Vous n'avez pas à le connaitre.</td>
      <td>123456789</td>
    </tr>
    <th scope="row"><a href="https://github.com/borissius">Boris Alföldi</a></th>
      <td>Son mail est privé. Vous n'avez pas à le connaitre.</td>
      <td>123456789</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-primary" role="alert">
  Clique sur nos noms pour accéder à nos pages Github ;)
</div>