
<h1> Ceci est la page contact</h1>
<p>?Sucursal? de la Pas'Tech team</p>
<p>Martin, Boris, Emeran, Lucas et Marion vous présentent The Gossip Project. Envoyez vos potins !</p>

<a href="https://github.com/borissius">Boris Alföldi</a></br>
<a href="https://github.com/MartinL123?tab=repositories">Martin Lanrezac</a></br>
<a href="https://github.com/Estebandelaciudad">Emeran Gainville</a></br>
<a href="https://github.com/RigateStudio">Lucas Gautier</a></br>
<a href="https://github.com/itsjayheart">Marion ' j ' Pocquet</a></br>