
<h1> Ceci est la page contact</h1>
<p>Sucursal de la pastèche team</p>
<p>Martin & Boris & Emeran & Lucas & Co.</p>

<a href="https://github.com/borissius">Boris Alföldi</a></br>
<a href="https://github.com/MartinL123?tab=repositories">Martin Lanrezac</a>
<a href="https://github.com/Estebandelaciudad">Emeran Gainville</a>
<a href="https://github.com/RigateStudio">Lucas Gautier</a>
