<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="https://github.com/MartinL123?tab=repositories">Martin Lanrezac</a></th>
      <td>issou@gmail.com</td>
      <td>123456789</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://github.com/Estebandelaciudad">Emeran Gainville</a></th>
      <td>issou@gmail.com</td>
      <td>123456789</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://github.com/itsjayheart">Marion ' j ' Pocquet</a></th>
      <td>issou@gmail.com</td>
      <td>123456789</td>
    </tr>
    <th scope="row"><a href="https://github.com/RigateStudio">Lucas Gautier</a></th>
      <td>issou@gmail.com</td>
      <td>123456789</td>
    </tr>
    <th scope="row"><a href="https://github.com/borissius">Boris Alföldi</a></th>
      <td>issou@gmail.com</td>
      <td>123456789</td>
    </tr>
  </tbody>
</table>