<div class='ml-5'>
<h2>Description de la Team Pas'tech</h2>

<br>

    <div class="row">
        
      <div class="col-lg-4">
        <form>
          <img class = "square" src="https://media1.tenor.com/images/f86c3a13ddb998631efa393d1c289567/tenor.gif?itemid=9505807" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
          <input type="file" id="myfile" style="display:none"/>
        </form>
          <h2><a href="https://github.com/MartinL123?tab=repositories">Martin Lanrezac</a></h2>
          <p>Martin est le plus jeune des cinq. Fondateur de la pastèque, c'est lui qui s'est retrouvé à payer une pastèque 14.52e. Elle était énorme (13kg). De plus, c'est la mascotte du groupe. Il n'est pas extraordinaire en code mais créé une bonne ambiance dans le groupe. Sans lui la cohésion du groupe se serait brisé il y a de belle lurette.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <form>
          <img class = "square" src="https://media.tenor.com/images/32ef12a37c36cc27924e4a1644705db0/tenor.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
          <input type="file" id="myfile" style="display:none"/>
        </form>
        <h2><a href="https://github.com/Estebandelaciudad">Emeran Gainville</a></h2>
        <p>Emeran c'est l'espagnol de la bande. Demandez-lui l'histoire de son pseudo "Emeran De La Ciudad". Vous ne serez pas déçu. Il saura toujours vous divertir avec ses expressions du genre "On est des p***** de psychopathes !".</p>
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4">
      <form>
      <img class = "square" src="https://media2.giphy.com/media/xTiTnpxqCQ2Tuk45Z6/giphy.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
      <input type="file" id="myfile" style="display:none"/>
        </form>
        <h2><a href="https://github.com/borissius">Lucas Gautier</a></h2>
        <p>Lucas est gentil, attentionné et pense toujours à son prochain. Son histoire peut se résumer en deux mots. A vous de les définir. Son rire est trop mignon aussi. </p>
        </div><!-- /.col-lg-4 -->
    
       
      <div class="col-lg-4">
      <form>
      <img class = "square" src="https://i.pinimg.com/originals/1f/de/e2/1fdee203e7db6420fdf190bb2a25f5e0.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
      <input type="file" id="myfile" style="display:none"/>
        </form> 
        <h2><a href="https://github.com/itsjayheart">Marion ' j ' Pocquet</a></h2>
        <p>Marion... Ah Marion. Que dire sur cette personne. Pour commencer, il code très bien. Ensuite, il est sur pleins de projets à la fois. Son histoire est fascinante ce qui rend l'écriture de ce message très facile. Cependant, il y tellement de choses à dire que je vais m'arrêter là. Discutez avec lui, il sera toujours ravi de vous partager sa vision de voir les choses. </p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
      <form>
      <img class = "square" src="https://thumbs.gfycat.com/FaintWellwornFennecfox-small.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
      <input type="file" id="myfile" style="display:none"/>
        </form>
        <h2><a href="https://github.com/borissius">Boris Alföldi</a></h2>
        <p>Boris est vraiment sympa, parle et pense très vite. Très fort en code, il trouve toujours une manière de résoudre les problèmes. La légende dit même que Boris est la réincarnation de Steve Jobs.</p>    
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

      <div class="alert alert-primary" role="alert">
        Clique sur nos noms pour accéder à nos pages Github ;)
      </div><!-- /.col-lg-4 -->   
</div>