<br>
<br>
<br>
<br>
<h1 class="display-1"> Bonjour <%= user.first_name user.last_name %><3 </h1>

<br>
<div class="container text-center">
<p> Tous mes potins </p>
<p>
<p> Mes potins préférés </p>
</div>