
<h1>BIENVENUE CHEZ LES PASTEQUES</h1>
<h3>Salut à toi <%= @name.capitalize %> </h3>
<p>Bienvenus sur le méilleur site de l'anné AKA "Past'Tèche Gossip Project 2020".</p>
</br>
<p>Rejoins une caumunautée PREMIUM des jaseurs de "THE HACKING PROJECT", qui font des ragots les uns sur les autre en s'amusant comme des petits fous!</p>

